<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Contact")}</%block>
        </h1>
        <p>
        <pre><%block name="pagecontent">${page_content or _("如果您在英语学习中遇到了问题或者有好的意见和建议，欢迎联系我们！\n\n" +
            "邮箱：customer@thomsonilm.com")}</%block>
        </pre>
        </p>
    </section>
</main>
