<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
        <pre><%block name="pagecontent">${page_content or _("Intelligent learning map简称ILM，是智能学习地图，为上海汤姆森信息技术有限公司倾力打造的在线学习决策咨询平台，当前采用的是会员注册制。\n\n" +
            "通过精准评测和AI大数据分析，为学员智能匹配最适合他/她的学习系统和课程。\n\n\n\n" +
            "ILM已聚集了评测医生、苹果香蕉英语和FlyHigh等教育咨询机构。\n\n" +
            "评测医生提供国际先进的全方位测评系统集，遵循CCSS国际标准；\n\n" +
            "苹果香蕉英语为低龄幼儿提供智能学习系统以及定制化的英语学习咨询辅导服务；\n\n" +
            "FlyHigh是为高年级阶段学员提供一站式英语能力提升方案。通过精准补短板，快速提升学员英语能力。\n\n\n\n" +
            "来吧！在ILM，开启您的英语学习定制之旅。")}</%block>
        </pre>
        </p>
    </section>
</main>
